In [1]:
import pandas as pd 
import numpy as np

In [12]:
df = pd.read_excel('./Excel_data/students.xlsx')
df.head(2)

   id estudiante fecha_inicio  edad  carrera_id
0   1    Riannon   2020-03-07    23         3.0
1   2    Enrique   2020-08-28    23         2.0

In [4]:
def two_times (value):
    return value *2

In [5]:
df['edad'].apply(two_times) #apply funciona para agregar cualquier tipo de funci√≥n

0     46
1     46
2     48
3     56
4     56
5     36
6     46
7     38
8     52
9     54
10    38
11    56
12    48
13    46
14    50
15    52
16    38
17    42
18    48
19    56
20    46
21    46
22    52
23    52
24    46
25    44
26    42
27    38
Name: edad, dtype: int64

In [6]:
df['edad'].apply(lambda value : value * 2)

0     46
1     46
2     48
3     56
4     56
5     36
6     46
7     38
8     52
9     54
10    38
11    56
12    48
13    46
14    50
15    52
16    38
17    42
18    48
19    56
20    46
21    46
22    52
23    52
24    46
25    44
26    42
27    38
Name: edad, dtype: int64

In [14]:
df.apply(lambda x : x['edad'] * 2 if x['carrera_id'] == 2 else x['edad'],axis=1)

0     23
1     46
2     24
3     28
4     56
5     18
6     23
7     19
8     26
9     27
10    19
11    28
12    24
13    23
14    25
15    26
16    38
17    21
18    24
19    28
20    23
21    46
22    52
23    52
24    23
25    22
26    21
27    38
dtype: int64