In [2]:
import pandas as pd

In [3]:
psg_player= pd.Series(['Navas','Mbappe','Neymar','Messi'],
        index=[1,7,10,30])
        #aqui le estas dando un valor a cada uno

In [4]:
 pd.Series(['Navas','Mbappe','Neymar','Messi'])
 # no le das valor he inicia desde el 0 secuencialmente

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [5]:
dict1 = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict1)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
dict1[30]

'Messi'

In [7]:
dict1 = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 178.0, 170.0, 163.0],
  'Goles':[2, 200, 150, 500]}

In [8]:
pd.DataFrame(dict1)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   178.0    200
2  Neymar   170.0    150
3   Messi   163.0    500

In [9]:
dfplayers= pd.DataFrame(dict1, index=[1,7,10,30])
dfplayers

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   178.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

In [10]:
dfplayers.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [11]:
dfplayers.index

Int64Index([1, 7, 10, 30], dtype='int64')