In [1]:
import pandas as pd 
import numpy as np

In [2]:

dict1 = {'Col1':[1,2,3,np.nan],
'Col2':[4, np.nan,6,7],
'Col3':['a','b','c', None]}

In [3]:
df_dict= pd.DataFrame(dict1)

In [4]:
df_dict.isnull() # donde hay valores nulos deja un true

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [5]:
df_dict.fillna('Miss')

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0  Miss     b
2   3.0   6.0     c
3  Miss   7.0  Miss

In [7]:
df_dict.fillna(df_dict.mean())

C:\Users\LeoAl\AppData\Local\Temp\ipykernel_15376\3045277652.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_dict.fillna(df_dict.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [8]:
df_dict.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [10]:
df_dict.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c